.games-search{

    padding:60px 0 30px;

}

.search-box{

    max-width:700px;

    margin:auto;

}

.search-box input{

    width:100%;

    padding:16px 20px;

    border:none;

    border-radius:var(--radius-md);

    background:var(--surface);

    color:var(--text);

    outline:none;

    font-size:16px;

}

.search-box input::placeholder{

    color:var(--text-muted);

}
