<header class="navbar">

    <div class="container navbar-container">

        <a href="index.html" class="logo">

            <img
                src="assets/images/logo/logo.svg"
                alt="Aklic Studio">

            <span>Aklic Studio</span>

        </a>

        <nav class="nav-menu">

            <a href="index.html">Home</a>

            <a href="play.html">Games</a>

            <a href="#">Studio</a>

            <a href="#">Resource Hub</a>

            <a href="#">About</a>

        </nav>

        <button
            class="menu-toggle"
            id="menu-toggle">

            ☰

        </button>

    </div>

</header>
